RewriteEngine On

RewriteRule ^vendor/ - [F]
RewriteRule ^core/ - [F]
RewriteRule ^services/ - [F]
RewriteRule ^controllers/ - [F]
RewriteRule ^views/ - [F]

RewriteRule ^ index.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]